<li data-moon="{{args.moon}}" data-year="{{args.year}}" data-day="{{args.day}}">
  <header class="remove-widget"></header>
  <div class="widget-calendar">
  	<span class="day">{{args.day}}</span>. <span class="moon">{{args.moon}}</span> <span class="year">{{args.year}}</span>nL<br>
  	<button class="minus">-</button><button class="plus">+</button>
  	<button class="show">Anzeigen</button>
  </div>
</li>