<li data-lastnamerandomlist="{{args.lastnamerandomlist}}" data-firstnamewrandomlist="{{args.firstnamewrandomlist}}" data-firstnamemrandomlist="{{args.firstnamemrandomlist}}" data-name="{{args.name}}">
<header class="remove-widget"></header>
<div class="widget-randompersonen">
	<button data-lastnamerandomlist="{{args.lastnamerandomlist}}" data-firstnamewrandomlist="{{args.firstnamewrandomlist}}" data-firstnamemrandomlist="{{args.firstnamemrandomlist}}">{{args.name}}</button>
	<div class="resultm">
		<span class="firstname1"></span><span class="lastname1"></span>
	</div>
	<div class="resultw">
		<span class="firstname1"></span><span class="lastname1"></span>
	</div>
	<div class="resultm">
		<span class="firstname2"></span><span class="lastname2"></span>
	</div>
	<div class="resultw">
		<span class="firstname2"></span><span class="lastname2"></span>
	</div>
	<div class="resultm">
		<span class="firstname3"></span><span class="lastname3"></span>
	</div>
	<div class="resultw">
		<span class="firstname3"></span><span class="lastname3"></span>
	</div>
	<div class="resultm">
		<span class="firstname4"></span><span class="lastname4"></span>
	</div>
	<div class="resultw">
		<span class="firstname4"></span><span class="lastname4"></span>
	</div>
	<div class="resultm">
		<span class="firstname5"></span><span class="lastname5"></span>
	</div>
	<div class="resultw">
		<span class="firstname5"></span><span class="lastname5"></span>
	</div>
</div>
</li>