<li data-patherfolgabwehr="{{args.patherfolgabwehr}}" data-patherfolgschaden="{{args.patherfolgschaden}}" data-pathmisserfolgabwehr="{{args.pathmisserfolgabwehr}}" data-pathmisserfolgschaden="{{args.pathmisserfolgschaden}}">
<header class="remove-widget"></header>
<div class="widget-critical">
	<button class="green" data-list="{{args.patherfolgabwehr}}">Erfolg Abwehr</button>
	<button class="green" data-list="{{args.patherfolgschaden}}">Erfolg Schaden</button>
	<button class="red" data-list="{{args.pathmisserfolgabwehr}}">Kritisch Fehler Abwehr</button>
	<button class="red" data-list="{{args.pathmisserfolgschaden}}">Kritisch Fehler Angriff</button>
</div>
</li>